body {
  font-family: sans-serif;
}

button#generate {
  position: absolute;
  top: 80%; left: 50%;
  width: 10%;
  height: 5%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

button#validate {
  position: absolute;
  top: 72%; left: 50%;
  width: 10%;
  height: 5%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}


.btwn {
  font-size:25px;
  position: absolute;
  top: 71%; left: 52%;
  width: 10%;
  height: 5%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

table.rules {
  height: 15%;
  width: 50%;
  table-layout: fixed;
  position: absolute;
  top: 60%;  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

table {
  overflow: hidden;
  table-layout: fixed;
  empty-cells: hide;
  height: 40%;
  width: 20%;
  position: absolute;
  top: 30%;  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

td, tr {
  border: 1px solid black;
  font-size: 30px;
  font-style: normal;
  text-align: center;
}

td.rules {
  border: 1px solid black;
  font-size: 15px;
  font-style: bold;
  text-align: center;
}

th {
  font-size: 15px;
}

.horz {
  border: none;
  word-wrap:break-word;
  font-size: 14px;
  text-align: left;
  font-style: bold;
  overflow: visible;
}

.vert {
  font-size: 20px;
  text-align: right;
  transform: rotate(90deg);
  overflow: visible;
  white-space: nowrap;
}

.diag0 {
  font-size: 14px;
  word-wrap:break-word;
  text-align: right;
  font-style: bold;
  transform: rotate(-45deg);
  overflow: visible;
  white-space: nowrap;
}

.diag1 {
  font-size: 14px;
  word-wrap:break-word;
  text-align: right;
  font-style: bold;
  overflow: visible;
  white-space: nowrap;
}

.cell {
  padding: none;
  text-align: center;
  font-size: 30px;
  border:none;
  width:80%;
  height:100%;
}

#footer {
  text-align: center;
  padding-bottom: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
